@page "/error"
@inject AppDbContext db
@inject NavigationManager nav
@rendermode InteractiveServer

<h3>Add Student</h3>

<input @bind="student.Name" placeholder="Name" />
<input @bind="student.Age" type="number" placeholder="Age" />
<button @onclick="CreateStudent">Save</button>

@code {
    Student student = new();

    async void CreateStudent()
    {
        db.Students.Add(student);
        await db.SaveChangesAsync();
        nav.NavigateTo("/students");
    }
}
